* {
    font-family: Calibri;
}
body{
		margin: 0 !important;
		padding: 0 !important;
		background-color:#eeeeee; 
    //background-image: url("PowerLinesBackgroundColor.jpg");
    //background: url('/images/PowerLinesBackgroundColor.jpg');*/

	   
    }
img.source-image {
  z-index: -1000;
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.source-image {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

	  #map {
        height: 75%;
        //height:625px;
        width: 53.5%;
        display: inline-block;
        float:right;
        margin-top: 1.5%;
        margin-bottom: 1.5%;
        margin-right: 1%;
      }
      #box{
        height: 75%;
        //height:700px;
        width: 44%;
        padding-left: 1%;
        /* max-width: 500px; */
        //margin-right: 1%;
        float:left;
        display: inline-block;

        margin-top: 1.5%;
        margin-bottom: 1.5%;
        /* background-color:#D3D3D3; */
      }
      #header{
        /*background-color:#D3D3D3; */
		    /*height: 47px; /*DELETE WHEN ADDING NAV MENU*/
        height:10px;
				margin: 0 !important;
        padding: 0 !important;		
      }
      #theImage{
        padding:0px;
        border:3px solid #021a40;
        max-width: 100%;
        max-height: 100%;
        margin-right: 3%;
        display: inline-block;
      }
      #button {
    
      box-shadow: rgb(84, 163, 247) 0px 1px 0px 0px inset;
      //background: linear-gradient(rgb(0, 125, 193) 5%, rgb(0, 97, 167) 100%) rgb(0, 125, 193);
      background-color: #5b9bbe;
      border-radius: 6px;
      //border: 1px solid rgb(18, 77, 119);
      border: 1px solid grey;
      display: inline-block;
      cursor: pointer;
      color: rgb(255, 255, 255);
      font-family: Arial;
      font-size: 13px;
      padding: 6px 24px;
      text-decoration: none;
      text-shadow: rgb(21, 70, 130) 0px 1px 1px;
      margin-bottom: 6px;
      //margin-top: 20%;
      position: relative;
      bottom: 0;
      //left:5px;

    }
      #commentArea{
        resize: none;
        width: 100%;
        //height:110px;
        height:100%;
        font-size:15px;
        font-family: sans-serif;
       /* color: white;*/
        /*background: rgba(0,0,0,0.1);*/
        outline:none;
      border:1px solid rgba(0,0,0,0.3);
      
      }
      #prevCommentArea{
        resize: none;
        margin-left: 6.7%;
        width: 100%;
        //height:110px;
        height:100%;
        font-size:15px;
        font-family: sans-serif;
       /* color: white;*/
        /*background: rgba(0,0,0,0.1);*/
        outline:none;
        border:1px solid rgba(0,0,0,0.3);
      }
      #prevCommentLabel{
        margin-left: 7%;
        
      }
      #comments{
        margin-top: 5px;
        height:45%;

        //margin-bottom: 10px;
        //position: absolute;
      }
      #markerInfo{
        height:35%;
        margin-bottom: 2%;
      }
      #buttonDiv{
        margin-top: 1%;
        height:8%;
      }
      #commentDiv{
        float: left;
        width:45%;
        height:65%;
        //position: relative;
        //margin-bottom: 10px;
        //position: absolute;
     // bottom: 15%;

      }
      #prevCommentDiv{
        margin-left: 5%;
        float: left;
        width: 45%;
        height:65%;
     //   position: absolute;
     // bottom: 80px;
     // left: 100px;
      }
      
      .selectButtons{
        position: absolute;
        //box-shadow: rgb(41, 187, 255) -1px -4px 7px 1px inset;
        /*background: linear-gradient(rgb(45, 171, 249) 5%, rgb(6, 136, 250) 100%) rgb(45, 171, 249); */
        background-color: #5b9bbe;
        border-radius: 3px; 
        border: 1px solid rgb(11, 14, 7); 
        
        cursor: pointer; color: rgb(255, 255, 255); 
        font-family: Arial; 
        font-size: 10px; 
        padding: 12px 6px; 
        text-decoration: none; 
        text-shadow: rgb(38, 54, 102) 0px 1px 0px;"
        
      }
      .selectButtons:hover{
        background: linear-gradient(rgb(45, 171, 249) 100%, rgb(6, 136, 250) 100%) rgb(45, 171, 249); 
      }
      #timeFilterButton{
        margin-left: 87.5%;
        margin-top:-152.5%; 
        float:left;
        display:inline;
        z-index: 2;
      }
      
      #nextGreenButton{
        margin-left: 87.5%;
        margin-top:-128%; 
        float:left;
        display:inline;
        z-index: 2;

      }
      #previousGreenButton{
      /*  margin-top: 5px; */
      margin-left: 75.5%;
      margin-top:-128%;
      float:left;
        display:inline;
        z-index: 2;
        
      }

      #nextYellowButton{
        margin-left: 87.5%;
        margin-top:-102.93%; 
        float:left;
        display:inline;
        z-index: 2;
      }
      #previousYellowButton{
      /*  margin-top: 5px; */
      margin-left: 75.5%;
      margin-top:-102.93%;
      float:left;
        display:inline;
        z-index: 2;
      }

       #nextRedButton{
        margin-left: 87.5%;
        margin-top:-77%; 
        float:left;
        display:inline;
        z-index: 2;
      }
      #previousRedButton{
      /*  margin-top: 5px; */
      margin-left: 75.5%;
      margin-top:-77%;
      float:left;
        display:inline;
        z-index: 2;
        
      }
      #nextOrangeButton{
        margin-left: 87.5%;
        margin-top:-51.6%; 
        float:left;
        display:inline;
        z-index: 2;
      }
      #previousOrangeButton{
      /*  margin-top: 5px; */
      margin-left: 75.5%;
      margin-top:-51.6%;
      float:left;
        display:inline;
        z-index: 2;
      }
      #nextPurpleButton{
        margin-left: 87.5%;
        margin-top:-26%; 
        float:left;
        display:inline;
        z-index: 2;
      }
      #previousPurpleButton{
      /*  margin-top: 5px; */
      margin-left: 75.5%;
      margin-top:-26%;
      float:left;
      display:inline;
      z-index: 2;
      }

      /* Modal */
      #myImg {
          border-radius: 0px;
          cursor: pointer;
          transition: 0.3s;
          //margin-right: 3%;
        display: inline-block;
        width: 100%;
        //width:576px;
        //height: 324px;
        height:50%;
      }

      #myImg:hover {opacity: 0.7;}

      #infoBox{
       //width:570px;
       margin-top: -0.6%;
       height: 50%;
       padding-left: 6px;
        //background-color:#e1f5fe;
        background-color: white; 
        position: relative;
        //border:3px ;
        //border-style: groove;
        margin-bottom: 3%;
        
      }
      #longitudeLabel{

      }
      #latitudeLabel{

      }
      #powerline{
        margin-top: 6px;

      }

      /* The Modal */
      .modal {
          display: none; /* Hidden by default */
          position: fixed; /* Stay in place */
          z-index: 1; /* Sit on top */
          padding-top: 100px; /* Location of the box */
          left: 0;
          top: 0;
          width: 100%; /* Full width */
          height: 100%; /* Full height */
          overflow: auto; /* Enable scroll if needed */
          background-color: rgb(0,0,0); /* Fallback color */
          background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
      }

      /* Modal Content (Image) */
      .modal-content {
          margin: auto;
          display: block;
          width: 80%;
          height:80%;
          /*max-width: 700px;*/
      }

      /* Caption of Modal Image (Image Text)*/
      #caption {
          margin: auto;
          display: block;
          width: 80%;
          height: 80%;
          /*max-width: 700px; */
          text-align: center;
          color: #ccc;
          padding: 10px 0;
          height: 150px;
      }

      /* Add Animation - Zoom in the Modal */
      .modal-content, #caption { 
          -webkit-animation-name: zoom;
          -webkit-animation-duration: 0.6s;
          animation-name: zoom;
          animation-duration: 0.6s;
      }

      @-webkit-keyframes zoom {
          from {-webkit-transform:scale(0)} 
          to {-webkit-transform:scale(1)}
      }

      @keyframes zoom {
          from {transform:scale(0)} 
          to {transform:scale(1)}
      }

      /* The Close Button */
      .close {
          position: absolute;
          top: 15px;
          right: 35px;
          color: #f1f1f1;
          font-size: 40px;
          font-weight: bold;
          transition: 0.3s;
      }

      .close:hover,
      .close:focus {
          color: #bbb;
          text-decoration: none;
          cursor: pointer;
      }

      /* Image Width on Smaller Screens */
      @media only screen {
          .modal-content {
              width: 90%;
              height: 90%;
          }
      }

      /* End of modal */

      /* Needed for the map to appear */
      html, body {
        height: 100%;
        margin-left: 5px;
		    margin-right: 5px;
		    margin-to`p: 0px;
        padding: 0;

      }
      #timeEntryLabel{
        background-color: #5b9bbe;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        padding: 5px;
      }
      #dateArea{
        display: absolute;
        resize: none;
        width: 100px;
        /*right:10px; */
        margin-left: 2%;
        
        height:20px;
        font-size:14px;
        font-family: sans-serif;
       /* color: white;*/
        /*background: rgba(0,0,0,0.1);*/
        outline:none;
      border:1px solid rgba(0,0,0,0.3);
      }
      
    /* Filter Styling */
    .filter-group {
        font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
        font-weight: 600;
        position: absolute;
        //top: 47px;
       // top: 130px; /*SET THIS WHEN ADDING NAV MENU*/
         // top: 125px;
        right: 5px;
        z-index: 1;
        border-radius: 3px;
        height:41px;
        width: 160px;
        color: #fff;
        margin-top: 1.5%;
        margin-right: 1%;
    }

    .filter-group input[type=checkbox]:first-child + label {
        border-radius: 3px 3px 0 0;
    }

    .filter-group label:last-child {
        border-radius: 0 0 3px 3px;
        border: none;
    }

    .filter-group input[type=checkbox] {
        display: none;
    }

    .filter-group input[type=checkbox] + label {
        background-color: #3386c0;
        display: block;
        cursor: pointer;
        padding: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    }

    .filter-group input[type=checkbox] + label {
        background-color: #3386c0;
        text-transform: capitalize;
    }

    .filter-group input[type=checkbox] + label:hover,
    .filter-group input[type=checkbox]:checked + label {
        background-color: #5b9bbe;
    }

    .filter-group input[type=checkbox]:checked + label:before {
        content: '✔';
        margin-right: 5px;
    }



/* Checkbox Styling*/ 
input[type=checkbox].css-checkbox {

  position:absolute; 
  z-index:-1000; 
  left:-1000px; 
  overflow: hidden; 
  height:1px; 
  width:1px; 
  margin:-1px; 
  padding:0; 
  border:0;

}

input[type=checkbox].css-checkbox + label.css-label {
  
  padding-left:20px;
  height:15px; 
  display:inline-block;
  line-height:15px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:15px;
  vertical-align:middle;
  cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -15px;
}

label.css-label {
  background-image:url('FINAL CHECKBOX.png');
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 15px;
}

.shadow-z-1 {
  -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.12), 1px 1px 2px 0 rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.12), 1px 1px 2px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.12), 1px 1px 2px 0 rgba(0, 0, 0, 0.24);
}

.shadow-z-2{
  -moz-box-shadow: 0 0 3px 1px #888;  
  -webkit-box-shadow: 0 0 3px 1px#888;
  box-shadow: 0 0 3px 1px #888;
}