<header>
	<div class="container">
		<link href="styles/navStyle.css" rel="stylesheet" type="text/css">
		<img src="images/transDragon.png" alt="logo" class="logo" style="width:69px;height:60px;">
		<script src=methods/navbar.js></script>

		<nav>
			<ul>
				<li><a href="Mapview2.html">Map View</a></li>
				<li><a href="table2.html">List View</a></li>
				<li><a href="upload2.html">Upload Page</a></li>
				<li><a href="" onclick='deleteAllCookies()'>Log Out</a></li>
			</ul>
		</nav>

	</div>
</header>