<!DOCTYPE html>
<html>
<head>
<link href="https://honts.googleapis.com/css?family=Work+Sans:400" rel="">
<link href="styles/navStyle.css" rel="stylesheet" type="text/css">
<meta charset="UTF-8">
<title>Navbar</title>
</head>

<body>


<header>
	<div class="container">

		<img src="images/transDragon.png" alt="logo" class="logo" style="width:69px;height:60px;">

		<nav>
			<ul>
				<li><a href="">Map View</a></li>
				<li><a href="">List View</a></li>
				<li><a href="">Upload Page</a></li>
				<li><a href="">Log Out</a></li>
			</ul>
		</nav>

	</div>
</header>




</body>

</html>