@import url(http://fonts.googleapis.com/css?family=Open+Sans:800,300);

body {
    background-color: lightgray;
}

#container {
    margin-left: auto;
    margin-right: auto;
}

#header {

}

#main {

}

#footer {
    text-align: right;
    clear: both;
}

#navid {
    font: 5px;
    text-align: center;
    padding-top: 40px;
}